body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background: url('../img/Fondo1.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #f0f0f0;
}

/* Estilos adicionales para la página */
.page-info {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    transition: transform 0.3s ease-out;
}

/* Estilo para cuando la página se desplaza hacia arriba */
.page-info.scrolled-up {
    transform: translateY(-10%);
}

/* Estilo para el botón de volver arriba */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #2f006d;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 25px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    opacity: 0.7;
    transition: opacity 0.3s;
}

#scrollToTopBtn:hover {
    opacity: 2;
}

/* Estilo para el contenedor de Estadísticas */
.estadisticas {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.estadisticas h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

#modelStats {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navbar {
    position: fixed;
    top: 5px;
    right: 0;
    z-index: 1000;
}

.navbar button {
    margin-left: 10px;
    padding: 10px 20px;
    color: #1d0042;
    background-color:transparent;
    border: 3px solid #2f006d;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.navbar button:hover {
    background-color: #410294;
    color: #fff;
}

.navbar a {
    margin-left: 10px;
    text-decoration: none;
    padding: 10px 20px;
    color: #1d0042;
    background-color:transparent;
    border: 3px solid #2f006d;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #410294;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2f006d;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    transition: transform 0.3s ease-out;
}

h3{
    text-align: center;
    color: #000000;
    font-size:medium ;
}
